<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nom.learning.springboot.dao.mapper.UserExtendDOMapper">
  <resultMap id="BaseResultMap" type="nom.learning.springboot.dao.model.UserExtendDO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_update" jdbcType="TIMESTAMP" property="gmtUpdate" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="updator" jdbcType="VARCHAR" property="updator" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="register_time" jdbcType="TIMESTAMP" property="registerTime" />
    <result column="user_type" jdbcType="TINYINT" property="userType" />
    <result column="referrer_id" jdbcType="INTEGER" property="referrerId" />
    <result column="referrer_name" jdbcType="VARCHAR" property="referrerName" />
    <result column="referrer_type" jdbcType="TINYINT" property="referrerType" />
    <result column="invitation_code" jdbcType="VARCHAR" property="invitationCode" />
    <result column="owner_id" jdbcType="INTEGER" property="ownerId" />
    <result column="owner_name" jdbcType="VARCHAR" property="ownerName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, gmt_create, gmt_update, creator, updator, user_id, mobile, register_time, user_type, 
    referrer_id, referrer_name, referrer_type, invitation_code, owner_id, owner_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_extend
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_extend
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="nom.learning.springboot.dao.model.UserExtendDO">
    insert into user_extend
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtUpdate != null">
        gmt_update,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="updator != null">
        updator,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="registerTime != null">
        register_time,
      </if>
      <if test="userType != null">
        user_type,
      </if>
      <if test="referrerId != null">
        referrer_id,
      </if>
      <if test="referrerName != null">
        referrer_name,
      </if>
      <if test="referrerType != null">
        referrer_type,
      </if>
      <if test="invitationCode != null">
        invitation_code,
      </if>
      <if test="ownerId != null">
        owner_id,
      </if>
      <if test="ownerName != null">
        owner_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtUpdate != null">
        #{gmtUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updator != null">
        #{updator,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="registerTime != null">
        #{registerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userType != null">
        #{userType,jdbcType=TINYINT},
      </if>
      <if test="referrerId != null">
        #{referrerId,jdbcType=INTEGER},
      </if>
      <if test="referrerName != null">
        #{referrerName,jdbcType=VARCHAR},
      </if>
      <if test="referrerType != null">
        #{referrerType,jdbcType=TINYINT},
      </if>
      <if test="invitationCode != null">
        #{invitationCode,jdbcType=VARCHAR},
      </if>
      <if test="ownerId != null">
        #{ownerId,jdbcType=INTEGER},
      </if>
      <if test="ownerName != null">
        #{ownerName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="nom.learning.springboot.dao.model.UserExtendDO">
    update user_extend
    <set>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtUpdate != null">
        gmt_update = #{gmtUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updator != null">
        updator = #{updator,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="registerTime != null">
        register_time = #{registerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userType != null">
        user_type = #{userType,jdbcType=TINYINT},
      </if>
      <if test="referrerId != null">
        referrer_id = #{referrerId,jdbcType=INTEGER},
      </if>
      <if test="referrerName != null">
        referrer_name = #{referrerName,jdbcType=VARCHAR},
      </if>
      <if test="referrerType != null">
        referrer_type = #{referrerType,jdbcType=TINYINT},
      </if>
      <if test="invitationCode != null">
        invitation_code = #{invitationCode,jdbcType=VARCHAR},
      </if>
      <if test="ownerId != null">
        owner_id = #{ownerId,jdbcType=INTEGER},
      </if>
      <if test="ownerName != null">
        owner_name = #{ownerName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- batch insert -->
  <insert id="batchInsert" parameterType="nom.learning.springboot.dao.model.UserExtendDO">
    insert into user_extend (
      gmt_create, gmt_update,
      creator, updator, user_id, 
      mobile, register_time, user_type, 
      referrer_id, referrer_name, referrer_type, 
      invitation_code, owner_id, owner_name
      )
    values
    <foreach collection="list" index="index" item="item" separator=",">
      (
      #{item.gmtCreate,jdbcType=TIMESTAMP}, #{item.gmtUpdate,jdbcType=TIMESTAMP},
      #{item.creator,jdbcType=VARCHAR}, #{item.updator,jdbcType=VARCHAR}, #{item.userId,jdbcType=INTEGER}, 
      #{item.mobile,jdbcType=VARCHAR}, #{item.registerTime,jdbcType=TIMESTAMP}, #{item.userType,jdbcType=TINYINT}, 
      #{item.referrerId,jdbcType=INTEGER}, #{item.referrerName,jdbcType=VARCHAR}, #{item.referrerType,jdbcType=TINYINT}, 
      #{item.invitationCode,jdbcType=VARCHAR}, #{item.ownerId,jdbcType=INTEGER}, #{item.ownerName,jdbcType=VARCHAR}
      )
    </foreach>
  </insert>


</mapper>